backports.zstd @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_backports.zstd_1767045020/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1759755605562/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1764017116075/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1767500808759/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1760437218288/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_contourpy_1769156091/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_cycler_1764466758/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1750113804946/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1765632680641/work
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1766475101762/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_h2_1756364871/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1760286409563/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_jinja2_1764517220/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1765794027227/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_kiwisolver_1762488860/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1752271512095/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1759055254345/work
matplotlib==3.10.8
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1765215107/work
numpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_numpy_1770098395/work/dist/numpy-2.4.2-cp311-cp311-macosx_11_0_arm64.whl#sha256=4dd287d918a5abd30328a2f5bfa74bb734d8f9e7f12ce6a5675e4ae338b805c6
packaging @ file:///opt/miniconda3/conda-bld/packaging_1761049079066/work
pandas @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pandas_1771409101/work
pillow @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pillow_1758208741/work
pyogrio @ file:///Users/runner/miniforge3/conda-bld/pyogrio_1732013474567/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1769003998/work
pyproj @ file:///Users/runner/miniforge3/conda-bld/pyproj_1739711680430/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
requests @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_requests_1766926974/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_scikit-learn_1766550842/work/dist/scikit_learn-1.8.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=e9bfee154265c2c47be943a5c346c467a67d1d1bed3bb034914a57d76df0c1a9
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1768799654612/work/dist/scipy-1.17.0-cp311-cp311-macosx_11_0_arm64.whl#sha256=15b2dc068f32628a437aebf36fb3d9eff4df1021507577c92b1c1d7ccd6338c2
shapely @ file:///Users/runner/miniforge3/conda-bld/shapely_1738308027240/work
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1765836484236/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1770909144153/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1767817748113/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1763813636763/work
